# Build files
/build

# Cache files
.eslintcache
.npm

# Environment files
ddev-wp-setup-script
.env

# Logs
logs
*.log

# Packages
node_modules/*
!node_modules/@wordpress
node_modules/@wordpress/*
!node_modules/@wordpress/scripts
!node_modules/@wordpress/eslint-plugin
vendor

# Storage files
*.tgz
*.zip

# Temporary files
.dev-assets
