# IGNORE ENVIRONMENT FILES
log
ddev-wp-setup-script

# IGNORE WORDPRESS CORE FILES
wp-admin
wp-content/*
wp-includes
.htaccess
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-ddev.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# IGNORE WORDPRESS PLUGINS & THEMES FILES BY DEFAULT
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
wp-content/mu-plugins/*
wp-content/plugins/*
wp-content/themes/*

# THEMES AND PLUGINS TO NOT IGNORE
# !wp-content/themes/theme-name
# !wp-content/plugins/plugin-name
